* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgb(102, 121, 168), rgb(41, 70, 116));
}

/*Header y nav*/

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    background: linear-gradient(to top, rgb(3, 13, 24), hwb(210 7% 73%));
}

nav h1 {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: #fff;
}


nav ul .logo_nav img {
    max-width: 100px;
    margin: 10px;
    margin-left: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;

}

nav ul li:hover {
    background-color: #2b3d4b;
}

nav ul .logo_nav {
    max-width: 300px;
    text-align: right;
}

/*Menu dropdown*/

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #526D82;
    width: fit-content;
}

.dropdown-menu li {
    display: block;
    padding: 0;
}

.dropdown-menu li a {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

.dropdown-menu li:hover {
    background-color: #2b3d4b;
}

main {
    display: flex;
    flex-direction: column;
}

/*Img principal*/

.contenedor_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 44, 70);
    padding: 20px;
    flex-wrap: wrap;
}

.logo_principal {
    text-align: center;
    margin-top: 20px;
    border: #fff;
}

.logo_principal img {
    width: 70%;
    height: 200px;
    border: 5px solid white;
    border-radius: 6px;
    transition: all 0.6s ease-in-out;
}

.logo_principal img:hover {
    border: 5px solid aqua;
}

/*Razas*/

.razas {
    text-align: center;
    color: #fff;
    margin-top: 40px;
    background-color: #122c46;
    padding: 30px;
}

.contenedor_title,
.contenedor_unidades {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.title__terran {
    color: #122c46;
    width: 150px;
    padding: 10px 15px;
    font-weight: bolder;
    letter-spacing: 6px;
    background: transparent;
    border: 4px solid rgb(130, 169, 252);
    border-radius: 10px;
    transition: .3s;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title__terran:hover {
    box-shadow: 0 0 5px aqua, 0 0 5px aqua inset;
}

.unidades__terran {
    color: #122c46;
    width: 360px;
    padding: 10px 15px;
    font-weight: bolder;
    letter-spacing: 6px;
    background: transparent;
    border: 4px solid rgb(130, 169, 252);
    border-radius: 10px;
    transition: .3s;
    margin-top: 20px;
    margin-bottom: 20px;
}

.unidades__terran:hover {
    box-shadow: 0 0 5px aqua, 0 0 5px aqua inset;
}

.title__zerg {
    color: #5a0545;
    width: 110px;
    padding: 10px 15px;
    font-weight: bolder;
    letter-spacing: 6px;
    background: transparent;
    border: 4px solid #ff00f2;
    border-radius: 10px;
    transition: .3s;
    margin-top: 50px;
    margin-bottom: 20px;
}

.title__zerg:hover {
    box-shadow: 0 0 5px rgb(255, 0, 242), 0 0 5px rgb(255, 0, 242) inset;
}

.unidades__zerg {
    color: #5a0545;
    width: 360px;
    padding: 10px 15px;
    font-weight: bolder;
    letter-spacing: 6px;
    background: transparent;
    border: 4px solid #ff00f2;
    border-radius: 10px;
    transition: .3s;
    margin-top: 20px;
    margin-bottom: 20px;
}

.unidades__zerg:hover {
    box-shadow: 0 0 5px #ff00f2, 0 0 5px #ff00f2 inset;
}

.title__protoss {
    color: #06b45d;
    width: 170px;
    padding: 10px 15px;
    font-weight: bolder;
    letter-spacing: 6px;
    background: transparent;
    border: 4px solid #21ee2b;
    border-radius: 10px;
    transition: .3s;
    margin-top: 50px;
    margin-bottom: 20px;
}

.title__protoss:hover {
    box-shadow: 0 0 5px #21ee2b, 0 0 5px #21ee2b inset;
}

.unidades__protoss {
    color: #06b45d;
    width: 360px;
    padding: 10px 15px;
    font-weight: bolder;
    letter-spacing: 6px;
    background: transparent;
    border: 4px solid #21ee2b;
    border-radius: 10px;
    transition: .3s;
    margin-top: 20px;
    margin-bottom: 20px;
}

.unidades__protoss:hover {
    box-shadow: 0 0 5px #21ee2b, 0 0 5px #21ee2b inset;
}

.contenedor {
    display: flex;
}

.item__logo {
    text-align: center;
    margin-top: 50px;
}

.item__logo img {
    max-width: 50%;
}

.item__descripcion {
    margin-right: 50px;
    max-width: 70%;
    text-align: justify;
    padding: 20px;
    font-weight: bolder;
}

.item__descripcion p {
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 15px;
}

/*Unidades de combate*/

.card {
    width: 80%;
    justify-content: space-evenly;
    display: flex;
    gap: 10px;
    margin-left: 100px;
    flex-wrap: wrap;
}

.card figure {
    position: relative;
    height: 12.5rem;
    width: 15.625rem;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

.card figure img {
    width: 100%;
    height: 100%;
    transition: all 0.9s ease-out;
}

.card figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 103, 123, 0.6);
    transition: all 0.9s ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.card figure:hover>.capa {
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(2px);
}

.card figure:hover>.capa h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card figure:hover>img {
    transform: scale(1.07);
}

.card figure .capa h3 {
    color: black;
    font-weight: 400px;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
    text-decoration: underline;
}

.card figure .capa p {
    color: black;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
    font-weight: bolder;
}

/*Fotos y videos*/

.title_fotos,
.title_videos {
    text-align: center;
    color: #fff;
    margin-top: 40px;
    background-color: #122c46;
    padding: 30px;
}

.contenedor_fotos,
.contenedor_videos {
    display: flex;
    justify-content: center;
    gap: 4px;
    width: 90%;
    flex-wrap: wrap;
    margin: 30px;
}

.contenedor_fotos img {
    max-width: 18.75rem;
    border: solid 2px black;
    border-radius: 10px;
    transition: all 0.6s ease-in-out;
}

.contenedor_fotos img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/*Footer*/

/* footer pie de pagina  */

.container_footer {
    width: 100%;
    padding: 40px 0;
    background: linear-gradient(to top, #030d18, #122c46);
    margin-top: 40px;
}

.container_footer footer {
    max-width: 1200px;
    margin: auto;
}

.container_footer footer .logo_footer {
    text-align: center;
}

.container_footer footer .logo_footer img {
    width: 400px;
}

/* 
      Iconos */
.container_footer footer .redes_footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container_footer footer .redes_footer .icon_redes {
    font-size: 20px;
    margin: 20px;
    background-color: #e2e0e2;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

.container_footer footer .redes_footer .fa-facebook {
    background-color: #050505;
    color: #fff;

}


.container_footer footer .redes_footer .fa-facebook:hover {
    background-color: #1403ff;
    color: #fff;

}

.container_footer footer .redes_footer .fa-google-plus-g {
    background-color: #111111;
    color: #fff;

}

.container_footer footer .redes_footer .fa-google-plus-g:hover {
    background-color: #ff3503;
    

}

.container_footer footer .redes_footer .fa-x-twitter {
    background-color: #0f0f0f;
    color: #fff;

}

.container_footer footer .redes_footer .fa-x-twitter:hover {
    background-color: #ffffff;
    color: #0f0f0f;

}

.container_footer footer .redes_footer .fa-instagram {
    background: black;
    color: white
}

.container_footer footer .redes_footer .fa-instagram:hover {
    background: linear-gradient(#fcde30, #e9712a, #d2313b, #ae4198, #7540a1, #5443ab);
    color: rgb(248, 245, 245);

}

.container_footer footer h4 {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}


/*Diseño responsive*/

@media only screen and (max-width: 768px) {
    .contenedor_fotos {
        flex: 4 2 25%;
    }
}